html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  background-color: #f9f038;
}

/* header */
header {
  display: flex;
  /* border: solid 5px green; */
}

#game-title {
  flex: 2;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  /* border: solid 5px blue; */
}

#level-menu {
  margin: auto;
  flex: 1;
  /* border: solid 5px pink; */
}

#level-menu li {
  display: inline;
}

/* main */
#main {
  /* border: solid 5px green; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

#game {
  flex: 2;
  display: flex;
  flex-direction: row;
  /* border: solid 5px pink; */
}

#playground {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

#word {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#counter {
  flex: 1;
  margin: auto;
  font-size: 5rem;
}

#lower-page {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#letters {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 5px pink; */
}

#new-game {
  flex: 1;
}

#new-game-button {
  font-size: 2rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #fff;
  background-color: rgb(37, 34, 34);
  border: none;
}

#upper-row {
  display: flex;
  flex-direction: row;
}

#lower-row {
  display: flex;
  flex-direction: row;
}

.keyboard {
  color: #fff;
  background-color: rgb(37, 34, 34);
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 2rem;
  width: 2rem;
  justify-content: center;
}

/* footer */
footer {
  /* border: solid 5px green; */
}

.hiddenLetter {
  color: #f9f038;
  font-size: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
  border-bottom: solid 3px #000;
}

.revealedLetter {
  color: #000;
  font-size: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
  border-bottom: solid 3px #000;
}

.chosenLetter {
  background-color: rgb(37, 34, 34);
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 2rem;
  width: 2rem;
  justify-content: center;
}
