html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  background-color: #f9f038;
}

/* header */
header {
  display: flex;
  border: solid 5px green;
}

#game-title {
  flex: 1;
  border: solid 5px blue;
  margin: auto;
}

#level-menu {
  margin: auto;
  border: solid 5px pink;
}

#level-menu li {
  display: inline;
}

/* main */
#main {
  border: solid 5px green;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#game {
  flex: 2;
  display: flex;
  flex-direction: row;
  border: solid 5px pink;
}

#word {
  flex: 2;
  margin: auto;
  border: solid 5px blue;
}

#counter {
  flex: 1;
}

#letters {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  border: solid 5px pink;
}

#upper-row {
  display: flex;
  flex-direction: row;
}

#lower-row {
  display: flex;
  flex-direction: row;
}

.keyboard {
  color: #fff;
  background-color: rgb(37, 34, 34);
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 1.5rem;
}

/* footer */
footer {
  border: solid 5px green;
}
